---
---

!!! 5
%html{lang: :en}
  %head
    %title Allen J. Greer, Vancouver CA
    %meta{charset: 'UTF-8'}
    %meta{name: :viewport, content: 'width=device-width', 'initial-scale': '1.0'}
    %link{rel: :stylesheet, href: 'assets/stylesheets/main.css'}
    {% haml scripts.haml %}
  %body
    {% haml starmap.haml %}
    .headshot
      %img{src: '../assets/images/headshot.png'}
