.banner
  .banner-title
    %h1.banner-header Allen J. Greer
    %p Software Engineer |&nbsp
    %a.banner-link#reach-me
  .banner-links
    %a{href: 'https://github.com/allenjgreer'}
      %img{src: '../assets/images/GitHub-Mark-Light-120px-plus.png', height: '40px', width: '40px'}
    %a{href: 'https://linkedin.com/in/allen-greer'}
      %img{src: '../assets/images/LI-In-Bug.png', height: '40px', width: '47px'}
  #animation-toggle
    %p Animation
    %input.banner-toggle{type: :checkbox}
