---
---
@import starmap
@import app

*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  margin: 0
  padding: 0
  font-family: Arial

.headshot
  position: absolute
  top: 150px
  left: 10vw

  img
    height: 12vw


.toggle
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  width: 62px
  height: 22px
  display: inline-block
  position: relative
  border-radius: 50px
  overflow: hidden
  outline: none
  border: none
  cursor: pointer
  background-color: #707070
  transition: background-color ease 0.3s

  &:before
    content: "on off"
    display: block
    position: absolute
    z-index: 2
    width: 18px
    height: 18px
    background: #fff
    left: 2px
    top: 2px
    border-radius: 50%
    font: 10px/18px Helvetica
    text-transform: uppercase
    font-weight: bold
    text-indent: -22px
    word-spacing: 37px
    color: black
    white-space: nowrap
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s

  &:checked
    background-color: white

  &:checked:before
    left: 42px
